.footer{
    padding: 40px;
    background: #000;
    color:#aaa;
    text-align: center;

}

.footer-links{
    margin: 20px 0;

}
.footer-links a {
    margin:0 10px;
    color:#aaa;
    text-decoration: none;
    font-size: 14px;
}